body {
  font-family: sans-serif;
  background-color: #f0ebdd;
  color: #322828;
  margin: 40px;
  padding: 20px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 50px;
}

nav a {
  text-decoration: none;
  color: #0570cdcb;
  margin: 0 5px;
}

button {
  cursor: pointer;
}
